@import url("https://fonts.googleapis.com/css2?family=Alexandria&display=swap");

.homepage {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/dreamcatcher45/MovieSlate/main/src/assets/home.webp");
  background-size: cover;
  background-position: center;
}

.background-dash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/dreamcatcher45/MovieSlate/main/src/assets/view.webp");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(28, 28, 28, 0.9), rgba(0, 0, 0, 0));
}

.d-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(37, 37, 43, 0.9), rgba(0, 0, 0, 0));
}

/* Titlebox.css */
.titlebox-container {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-15%, -30%);
  z-index: 10;
}
.titlebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  text-align: left; 
}

.title {
  margin: 0;
  font-size: 4em; /* Make title larger */
  font-family: "Alexandria", sans-serif;
}

.category-name {
  color: white;
  text-align: left; 
  margin: 20px 0; /* Add space above and below the element */
  font-size: 2em; /* Make title larger */
  font-family: "Alexandria", sans-serif;
 }
 

.subtitle {
  margin: 0;
  font-size: 1em;
  font-family: "Alexandria", sans-serif;
  color: rgb(168, 166, 166); /* Default color */
  font-weight: lighter;
}

.subtitle span.green {
  color: green;
}

.subtitle span.white {
  color: white;
}

.reload-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow around the button */
  font-family: "Alexandria", sans-serif; /* Use Alex Dra font */
}

.spacer {
  margin-top: 0.5em;
}

/* Card.css */
.card {
  margin-right: 20px;
  width: 150px;
  height: 230px;
  margin: 10px;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Heavy dark shadow */
 }
 
 .card img {
  border-radius: 15px; 
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 
 
/* TextButton.css */
.text-button {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease;
  text-decoration: none; 
 }
 
 .text-button:hover {
  color: #0056b3;
 }
 
 .text-button:active {
  color: #003c80;
 }
 
 /* Cardbar.css */

 .cardbar {
  margin-top: 2em;
  display: flex;
  flex-wrap: nowrap; /* Ensure cards are in a single row */
  justify-content: center;
  overflow-x: auto; /* Make the cards slidable */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(-30%);
 }
  100% {
    transform: translateX(0); /* Swap direction */
 }
}

.cardbar > div {
 display: inline-block;
 animation: slide 30s linear infinite; /* Increase duration to slow down */
}


/* backbutton */
.back-text-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}
.back-text-button:hover {
  text-shadow: 0 0 5px #1b3e51, 0 0 10px #1b3e51, 0 0 15px #1b3e51, 0 0 20px #1b3e51;
 }
 
 
.back-arrow {
  margin-right: 10px;
}

/* details container */
.details-container {
  max-width: 70vw;
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-15%, -30%);
  z-index: 10;
  color: white;
  font-family: "Alexandria", sans-serif; 
}

.movie-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 }
 
 .poster {
  flex: 1;
  margin-right: 40px;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Heavy dark shadow */
  object-fit: cover; 
 }
 
 .details {
  position: relative;
  flex: 2;
  display: block;
  flex-direction: column;
 }
 
 
 .Movie-title {
  font-size: 60px; /* Adjust size as needed */
  font-weight: bold; /* Makes the text bolder */
  line-height: 1; /* Reduces the space above and below the text */
  margin-top: 0; /* Removes the top margin */
 }
 .Movie-subtitle {
  font-size: 18px;
  margin-top: 0; /* Removes the top margin */
  opacity: 0.7; /* Reduces opacity to 70% */
 }

 .Movie-plot {
  font-size: 20px;
  margin-top: 0;
  opacity: 0.9;
 }
 
 
 